*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
button{
    cursor: pointer;
}

html,body{
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin:0 auto;  
}

.container_2 {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

/* header */
.header{
background-image: url("../images/Bacground.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
padding:30px;


    }

.header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list{
    display: flex;
    gap: 50px;
    color: #fff
}

.header__link {
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.header__btn{
    background: #C9453B;
    padding: 16px 45px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.header__content {
    padding-top:200px;
    padding-bottom:244px;

}
.header__title {
    color: #fff;
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
   
}
.header_text{
font-size: 18px;
font-weight: 400;
line-height: 28.8px;
padding-bottom: 30px;
padding-top: 30px;
color: #fff;
opacity: 60%;
}


.main_start {
    padding-top: 140px;
    padding-bottom:20px;
    text-align: center  ;
    font-size: 43px;
    font-weight: 500;

}
 
.main_org_text {
    padding-bottom: 50px;
    text-align: center;
    color: #000;
    opacity: 70%;
    font-size: 18px;
    font-weight: 400;
    

}

.card_text_one {
    padding-top: 35px;
    color: #000;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 150%;
text-align: center;
}
.card_text_two {
    color: #000;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
text-align: center;
}
.card_org {
    padding-bottom: 20px;
    
    
}
.card_one {
    width: 361.9px;
    height: 499px;
    border: solid 1px rgb(90, 88, 88);
    border-radius: 10px;
    
}
.card_org{
    display: flex;
    justify-content: space-between;
}